<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.maitian.analytics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="546d9057fd98c5c69e001c10" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>
</manifest>
